h1 {
    color: #ffd700;
}

a {
    text-decoration: none;
}

.movieItem { 
    width: 200px;
    height: 440px;
    background: #000;
    border: 1px solid #ffff00;   
    overflow: hidden;
}

.movieItem img { 
    height: 300px;
    width: 100%;
}

.movieItem:hover {
    background: #0e0e0e;
    transition: ease .2s;
}

.movieItem img:hover {
    transform: scale(1.02);
    transition: ease .2s;
}

h2.movieTitle {
    margin: 6px 5px;
    color: #ffd700;
    font-weight: 600;
    font-size: 16px;
    height: 46px;
}

.genres {
    font-size: 10px;
    color: #f0e68c;
    padding-left: 3px;
}

.genres span {
    font-size: 10px;
    background: #8080805e;
    margin: 2px 3px;
    padding: 1px 5px;
    border: .5px solid #acac089a;
    display: inline-table;
}

.rating {
    margin-left: 23px;
    position: absolute;
    bottom: 10px;
}

@media screen and (max-width: 880px) {
    .movieItem { 
        width: 150px;
        height: 375px;
    }

    .movieItem img { 
        height: 225px;
    }

    h2.movieTitle {
        font-size: 14px;
        margin: 0 5px 3px 5px;
        height: 59px;
    }

    .genres span {
        font-size: 9px;
        margin: 1px 3px;
        padding: 1px 5px;
    }

    .rating {
        margin-left: 2px;
    }
}