form {
    position: relative;
}

.inputBlock {
    float: left;
    margin: 20px 0;
}

input.error {
    outline: 2px solid red;
}

.submitButton {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1px;
    outline: none;
    margin: 20px 0;
}

.inputError {
    position: absolute;
    left: 210px;
    top: 1px;
    color: rgb(146, 146, 146);  
}

button img {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 500px) {
    .submitButton {
        position: static;
        margin: 20px 0;
    }

    input {
        width: 120px;
    }
}