form {
    position: relative;
}


.inputBlock {
    float: left;
}

input.error {
    outline: 2px solid red;
}

.submitButton {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 1px;
    outline: none;
    /* cursor: pointer; */
}

.inputError {
    position: absolute;
    left: 210px;
    top: 1px;
    color: rgb(146, 146, 146);
    
}

button img {
    width: 18px;
    height: 18px;
}